.container {
	@apply relative flex flex-col justify-center overflow-hidden;
}

.form {
	@apply m-auto w-full border bg-white p-6 shadow-md sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/5;
}
.title {
	@apply text-center text-3xl font-semibold text-gray-800 mb-6;
}

.btnContainer {
	@apply mt-8 flex justify-center;
}

.loginBtn {
	@apply w-full rounded-md border bg-gray-300 px-4 py-2 font-semibold text-[#424242] duration-200 hover:bg-gray-500 hover:text-white focus:outline-none  sm:w-3/4 md:w-1/2 lg:w-2/3 xl:w-1/2;
}
.checkPassContainer {
	@apply relative;
}

.togglePassword {
	@apply absolute -translate-y-2/4 cursor-pointer flex items-center justify-center right-2.5 top-2/3;
}