.container {
    @apply mb-2 flex flex-col;
}
.label {
    @apply block text-sm font-semibold text-gray-800;
}

.field {
    @apply mt-2 block w-full rounded-md border bg-white px-4 py-2 text-[#424242] focus:border-[#9D9D9D] focus:outline-none focus:ring focus:ring-[#9D9D9D] focus:ring-opacity-40;
}
